#main-container{
    padding:30px;
}
.wrap{
    padding: 20px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A153F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: center;
    font: normal 18px sans-serif;
    margin-top: 20px;
}

.footer .footer-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 10px 0 5px;
    margin: 0;
}

.footer .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

.navbar{
    background-color: #1A153F;
}
.navbar-nav > li >a{
    color: #ffffff;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #C5D0E6;
    color: #000000;
}